<!DOCTYPE>
<html>
<head>
<meta charset="utf-8">
<title>{layout-name}</title>
{layout-fonts}
</head>
<body bgcolor="{layout-background-color}" style="background-color: {layout-background-color}; margin: 0; padding: 0;">

<center>
<table cellpadding="0" cellspacing="0" width="100%" style="background-color: {layout-background-color};" bgcolor="{layout-background-color}">
<tr>
<td>&nbsp;</td>
<td width="{layout-max-width}">

{layout-content}

</td>
<td>&nbsp;</td>
</tr>
</table>
</center>

{layout-tracking}
</body>
</html>